<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codfish.springbootquickstart.data.dao.SysUserResumeTypeMapper">
  <resultMap id="BaseResultMap" type="com.codfish.springbootquickstart.data.model.SysUserResumeType">
    <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
    <result column="sys_resume_type_id" jdbcType="BIGINT" property="sysResumeTypeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sys_user_id, sys_resume_type_id
  </sql>
  <select id="selectByExample" parameterType="com.codfish.springbootquickstart.data.model.SysUserResumeTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_resume_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.codfish.springbootquickstart.data.model.SysUserResumeTypeExample">
    delete from sys_user_resume_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.codfish.springbootquickstart.data.model.SysUserResumeType">
    insert into sys_user_resume_type (sys_user_id, sys_resume_type_id)
    values (#{sysUserId,jdbcType=BIGINT}, #{sysResumeTypeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.codfish.springbootquickstart.data.model.SysUserResumeType">
    insert into sys_user_resume_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="sysResumeTypeId != null">
        sys_resume_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysUserId != null">
        #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="sysResumeTypeId != null">
        #{sysResumeTypeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.codfish.springbootquickstart.data.model.SysUserResumeTypeExample" resultType="java.lang.Long">
    select count(*) from sys_user_resume_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user_resume_type
    <set>
      <if test="record.sysUserId != null">
        sys_user_id = #{record.sysUserId,jdbcType=BIGINT},
      </if>
      <if test="record.sysResumeTypeId != null">
        sys_resume_type_id = #{record.sysResumeTypeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user_resume_type
    set sys_user_id = #{record.sysUserId,jdbcType=BIGINT},
      sys_resume_type_id = #{record.sysResumeTypeId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>